<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BingoManager.SystemManager.Properties.Settings.bingoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bingo.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="BingoManager.SystemManager.Properties.Settings.bingoConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Engine\bingo.accdb;Persist Security Info=True;Jet OLEDB:Database Password=&quot;cvfewrer,krn3lrknekrej&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>